<div class="QR-code">
  <span class="close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
  </span>
  <h4>{{ product.title }}</h4>
  <p>Download the TSR App with the QR Code below to purchase this product now!</p>
  {% render 'QR-code' %}
</div>