<div class="page-width lookbook-page-width-large">
  <div class="richtext-content center">
    <h2>{{ section.settings.title | newline_to_br }}</h2>
    {%- if section.settings.content != blank -%}
      <div class="rte">{{ section.settings.content }}</div>
    {%- endif -%}
  </div>
</div>
{% schema %}
  {
    "name": "Lookbook 7",
    "tag":"section",
    "class":"lookbook-section shpy-lookbook-richtext",
    "settings": [
      {
        "type":"textarea",
        "label":"Enter title",
        "id":"title",
        "default":"Collection Introduction Copy Here/\n Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."        
      },
      {
        "type":"richtext",
        "label":"Enter detail",
        "id":"content",
        "default":"<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<\/p>"
      }
    ],
    "presets": [
      {
        "name": "Lookbook 7"
      }
    ]
  }
{% endschema %}