{{ 'spaces-collection-flooring.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

<div class="space-market-main-header-div">
    <div id="spaces-market-slider-main">
        <div class="spaces-slider-main-div">
            <div class="spaces-header-text-btn">
                <div class="spaces-header-main-text">
                    <h6>Get Inspired</h6>
                    <h2>Flexifloor in your Spaces</h2>
                </div>
                <div class="spaces-btn dektop_none">
                    <a href="#" class="spaces-btn-inner">Shop Now</a>
                </div>
            </div>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-1.png?v=1723443540"
                                height="auto" width="auto" class="desktop-img">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-1-mobile.png?v=1723443540"
                                height="auto" width="auto" class="mobile-img">

                            <!-- <div class="slider-img-inner-box-main">
                                <div class="slider-img-inner-box">
                                    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26.png?v=1723445932"
                                        alt="img" width="auto" height="auto">
                                </div>
                                <div class="slider-img-inner-text">
                                    <div class="slider-img-inner-text-header">
                                        <p>Light Smoke Gray</p>
                                        <span>Flexifloor Tiles</span>
                                    </div>
                                    <div class="slider-img-inner-text-icon">
                                        <div class="price-main-slider">
                                            <span class="price-main-dull">$56.90</span>
                                            <span class="price-main-first">$49.00</span>
                                        </div>
                                        <div class="arrow-icon-main">
                                            <a href="#">
                                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.9125 8.95153L13.864 6.00005M13.864 6.00005L10.9155 3.05159M13.864 6.00005L1.13604 6.00005"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-2.png?v=1723443540"
                                height="auto" width="auto" class="desktop-img">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-2-mobile.png?v=1723443540"
                                height="auto" width="auto" class="mobile-img">
                            <div class="slider-img-inner-box-main">
                                <div class="slider-img-inner-box">
                                    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26.png?v=1723445932"
                                        alt="img" width="auto" height="auto">
                                </div>
                                <div class="slider-img-inner-text">
                                    <div class="slider-img-inner-text-header">
                                        <p>Light Smoke Gray</p>
                                        <span>Flexifloor Tiles</span>
                                    </div>
                                    <div class="slider-img-inner-text-icon">
                                        <div class="price-main-slider">
                                            <span class="price-main-dull">$56.90</span>
                                            <span class="price-main-first">$49.00</span>
                                        </div>
                                        <div class="arrow-icon-main">
                                            <a href="#">
                                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.9125 8.95153L13.864 6.00005M13.864 6.00005L10.9155 3.05159M13.864 6.00005L1.13604 6.00005"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-3.png?v=1723443540"
                                height="auto" width="auto" class="desktop-img">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-3-mobile.png?v=1723456309"
                                height="auto" width="auto" class="mobile-img">

                            <!-- <div clslider-img-inner-box-mainass="">
                                <div class="slider-img-inner-box">
                                    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26.png?v=1723445932"
                                        alt="img" width="auto" height="auto">
                                </div>
                                <div class="slider-img-inner-text">
                                    <div class="slider-img-inner-text-header">
                                        <p>Light Smoke Gray</p>
                                        <span>Flexifloor Tiles</span>
                                    </div>
                                    <div class="slider-img-inner-text-icon">
                                        <div class="price-main-slider">
                                            <span class="price-main-dull">$56.90</span>
                                            <span class="price-main-first">$49.00</span>
                                        </div>
                                        <div class="arrow-icon-main">
                                            <a href="#">
                                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.9125 8.95153L13.864 6.00005M13.864 6.00005L10.9155 3.05159M13.864 6.00005L1.13604 6.00005"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-4.png?v=1723443540"
                                height="auto" width="auto" class="desktop-img">
                            <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/spaces-image-4-mobile.png?v=1723443540"
                                height="auto" width="auto" class="mobile-img">
<!-- 
                            <div class="slider-img-inner-box-main">
                                <div class="slider-img-inner-box">
                                    <img src="https://cdn.shopify.com/s/files/1/0655/2610/4256/files/Rectangle_26.png?v=1723445932"
                                        alt="img" width="auto" height="auto">
                                </div>
                                <div class="slider-img-inner-text">
                                    <div class="slider-img-inner-text-header">
                                        <p>Light Smoke Gray</p>
                                        <span>Flexifloor Tiles</span>
                                    </div>
                                    <div class="slider-img-inner-text-icon">
                                        <div class="price-main-slider">
                                            <span class="price-main-dull">$56.90</span>
                                            <span class="price-main-first">$49.00</span>
                                        </div>
                                        <div class="arrow-icon-main">
                                            <a href="#">
                                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.9125 8.95153L13.864 6.00005M13.864 6.00005L10.9155 3.05159M13.864 6.00005L1.13604 6.00005"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="spaces-btn mobile_none">
                <a href="#" class="spaces-btn-inner">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true, // Enables looping
        // autoplay: {
        //     delay: 3000, // Autoplay delay in milliseconds
        //     disableOnInteraction: false, // Autoplay won't be disabled after user interaction
        // },
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30,
            },
            1024: {
                slidesPerView: 1,
                spaceBetween: 30,
            },
            1199: {
                slidesPerView: 2,
                spaceBetween: 30,
            },
        },
    });
</script>

{% schema %}
{
"name": "spaces-collection",
"settings":[],
"presets": [
{
"name" : "spaces-collection"
}
]
}
{% endschema %}