.breadcrumbs { list-style-type: none; padding: 0; margin:20px 0; display: flex; flex-wrap: wrap; align-items: center;  }
.breadcrumbs li + li:before { content:'—'; padding: 0 5px; }
.breadcrumbs .breadcrumbs-item { display: flex; }
.breadcrumbs .breadcrumbs-item, .breadcrumbs .breadcrumbs-item a { color: #73716E; font-size: 14px; font-weight: 300; line-height: 160%; text-decoration:none; text-transform:lowercase; }
.breadcrumbs .breadcrumbs-item a:first-letter { text-transform:uppercase; }
.breadcrumbs .breadcrumbs-item a.active{pointer-events: none;}

@media screen and (max-width: 749px) {
  .breadcrumbs { justify-content: center; margin:40px 0 20px 0; }
}